<nav>

<div class="nav-wrapper">
<link rel ="stylesheet" href=/static/css/nav.css> 
<a href="/" class="brand-logo center">Inicio</a>
<ul class="right ">
<li> <a href="/Config"><i class="material-icons">settings</i></a></li>

</ul>

<ul class="left">
<a href="#" data-target="mobile-demo" class="sidenav-trigger" ><i class="material-icons">menu</i></a>
</ul>



</div>



</nav>

<ul class="sidenav" id="mobile-demo">
    
    <li><a href="/">Inicio</a></li>
    <li><a href="/Anime">Anime</a></li>
    <li><a href="/Manga">Manga</a></li>
    <li><a href="/Config">Configuracion <i class="material-icons">settings</i></a></li>
</ul>

 <script src="static/js/sideNav.js"></script>