 {% extends "template.jinja" %}

 {% block content %}
    
    <div class="container ">
        <div class= "center-align">
            <br>
            <br>
            <h4>Ultimos Animes Agregados</h4>

            {% for Anime in data  %}
                <a href="/Watch{{Anime.id}}" class="{{actual.text_color}}"> 
                
                <div class="col s12 m7">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img class="responsive-img" src="{{Anime.poster}}" alt="{{Anime.title}}"  > 
                        </div>
                        <div class="card-stacked">
                            <div class="card-content {{actual.bg_1}}">
                            <h6>{{Anime.title}}</h6>
                            </div>
                         </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        
        
        </div>
    </div>
{% endblock %}

