 {% extends "template.jinja" %}
 {% block content %}
    <div class="container ">
        <div class= "center-align">
            <h4>Aqui ira el anime o si si</h4>
        
        
        </div>
    </div>
{% endblock %}

