{% extends "template.jinja" %}

{% block content %}

  <div class="">
        <div class= "center-align">
            <h4></h4>
            <div class="col s12 m7">
            {% for img in images  %}
            
                <div class="col s8 push-s2">
                <img src={{img}}>
                </div>
                
                
            {% endfor %}
            </div>
        
        </div>
    </div>

{% endblock  %}