{% extends "template.jinja" %}


{% block content %}
   
  <div class="container center-align">
        
            <h4></h4>
            
            {% for img in images  %}
            
                <div >
                <img   class="responsive-img" src={{img}}>
                </div>
                
                
            {% endfor %}
            
        
        

    </div>
{% endblock  %}