{% extends "template.jinja" %}

{% block content %}
    <div class="container enter-align">
        <div class= "center-align">
            <h4>Anime-Manga App</h4>
        
        <div class="row">
            <div class = "col s6">
            <a class="waves-effect waves-light btn-large" href ="/Manga">Manga</a>
            </div>
            <div class = "col s6">
            <a class="waves-effect waves-light btn-large" href="/Anime">Anime</a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}