  {% extends "template.jinja" %}

 {% block content %}
    
 


    <div class="row ">
      <div class="cols s12">
         <ul class="tabs tabs-fixed-width {{actual.bg_1}}">
         {% for server in Servers  %}
            <li class="tab" ><a  class="{{actual.text_color}}"href="#{{server.title}}">{{server.title}}</a></li>
         {% endfor %}
         </ul>
      </div>
    </div>
  

 <div class="container">
    {% for server in Servers  %}
         <div id="{{server.title}}" class="col s12 center video-container">
            <br>
            <p>{{Anime.title}} Capitulo {{Anime.episode}}</p>
            <iframe width="560" height="315" frameborder="0" src="{{server.code}}" scrolling="no" allowfullscreen=""></iframe>
         </div>
    {% endfor %}
   </div >



  {% endblock%}
{% block scripts %}
   <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var instances = M.AutoInit();
      });
  </script>
 
{% endblock %}
