<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Anime/Manga </title>
    <link rel="icon" href="https://media.discordapp.net/attachments/544378984675147796/739296161386463272/kindpng_1223303.png">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% block stylesheets %} {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
</head>

<body class="{{actual.bg}} {{actual.text_color}}" >
{% include "widgets/nav_var.jinja" %}

<div id="content">
{% block content %} {% endblock %}
</div >





{% block scripts %} 
  
{% endblock %}


</body>

</html>